@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <div class="row">
              
        <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Basic Table</h4>
                  <input id="search-input" class="nav-search text-align-right" value="Search.." />
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Is Main</th>
                          <th>Image</th>
                          <th>Operations</th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach (var item in Model)
                         {
                             <tr>
                               <td>@item.Name</td>
                               <td>@item.IsMain</td>
                               <td><img style="width:200px; height: 200px; border-radius:20px;" src="~/assets/images/@item.Image"/></td>
                               <td>
                                   <a class="btn btn-primary" asp-controller="Category" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                                   <a class="btn btn-warning" asp-controller="Category" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                   <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                               </td>
                               <td><label class="badge badge-danger">Pending</label></td>
                             </tr>
                         }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
    </div>
</div>


